
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Mais um presente a caminho, oferecido por: <%= @transaction.name %></h3>
    <p><b>Categoria:</b> <%= @gift.category %></p>
    <p><b>Nome:</b> <%= @gift.name %></p>
    <p><b>Valor oferecido:</b> <%= @transaction.offered_value %> €</p>
     <br/>
    <p><b>Para este presente faltam:</b> <%= @gift.missing_value %>€</p>
    <p><b>Mensagem</b> <%= @transaction.message %></p>
    <br/><br/>
    <p><b>Link para todos os presentes e transações:</b> carlotatomas2020.com/gifts </p>
  </body>
</html>