
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Mais um presente a caminho, oferecido por: <%= @transaction.name %></h3>
    <p><b>Categoria:</b> <%= @gift.category %></p>
    <p><b>Nome:</b> <%= @gift.name %></p>
    <p><b>Valor oferecido:</b> <%= @transaction.offered_value %> €</p>
    <br/>
    <% unless @gift.honey_moon? %>
      <p><b>Para este presente faltam:</b> <%= @gift.missing_value %>€</p>
    <% end %>
    <p><b>Mensagem</b> <%= @transaction.message %></p>
    <br/><br/>
    <p><b>Link para todos os presentes e transações:</b> <%= link_to 'Some link',  Rails.configuration.action_mailer.default_url_options[:host] + '/gifts' if Rails.env == 'production' %> </p>
  </body>
</html>


