<div class='ct-intro'>
  <div class='ct-title'>
    <p>
      <%= @gift.name %>
    </p>
  </div>
</div>
<div class='ct-content'>
  <div class='row'>
    <div class='col-xs-12 col-md-6'>
      <div class='ct-info'>
        <p>
          Depois do casamento<br/>
          queremos ir namorar<br/>
          De manhã de cabelo ao vento<br/>
          À tarde de papo para o ar<br/>
          <br/>
          Com o COVID a atrapalhar<br/>
          Japão e Maldivas têm que esperar<br/>
          Mas estamos já a preparar<br/>
          Para quando for possível viajar<br/>
          <br/>
          Agora tiramos uma semana<br/>
          Para juntos irmos descansar<br/>
          Vamos explorar Portugal<br/>
          Que tem muito para aproveitar<br/>
        </p>
      </div>
    </div>
    <div class='col-xs-12 col-md-6'>
      <div class='ct-form'>
        <%= simple_form_for @transaction, url: gift_transactions_path(@gift.id), method: :post do |f| %>
          <%= f.input :name, label: 'nome e apelido' %>
          <%= f.input :offered_value, label: 'valor', hint: 'Insira o valor que quer oferecer, em Euros (sem vírgulas ou pontos )' %>
          <%= f.input :message, label: 'mensagem' %>
          <%= f.hidden_field :gift_id, value: @gift.id %>
          <div class='ct-buttons'>
            <%= f.button :submit, value: 'CONFIRMAR' %>
            <%= link_to "VOLTAR", url_for(:back), class: 'ct-button' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class='ct-bank-info'>
  <p>
    <span class='ct-subtitle'>Obrigado por contribuir para a nossa lua de mel!</span><br/>
    <br/>
    Para finalizar, pedimos que transfira o valor que deseja contribuir para:<br/>
    <span class='ct-bank-accnt'>IBAN: PT50 0023 0000 45573069621 94</span><br/>
    <span class='ct-bank-accnt'>MBWAY: 939026008</span><br/>
    <br/>
    Para podermos agradecer, pedimos que preencha o formulário<br/>
    e indique que contribuiu para a lua de mel na descrição da transferência Bancária
  </p>
</div>