<div class='ct-title' id='casa-nova'>
  <p>CASA NOVA</p>
</div>

<div class='ct-categories row'>
  <div class='col-4'>
    <%= link_to pages_lista_path(lista: 'casa_nova', categoria: 'sala', :anchor => 'casa-nova'), class: "ct-category #{'ct-selected' if @category == 'sala'}" do %>
      <p>SALA</p>
    <% end %>
  </div>
  <div class='col-4'>
    <%= link_to pages_lista_path(lista: 'casa_nova', categoria: 'casa_de_jantar', :anchor => 'casa-nova'), class: "ct-category #{'ct-selected' if @category == 'casa_de_jantar'}" do %>
      <p>CASA DE JANTAR</p>
    <% end %>
  </div>
  <div class='col-4'>
    <%= link_to pages_lista_path(lista: 'casa_nova', categoria: 'cozinha', :anchor => 'casa-nova'), class: "ct-category #{'ct-selected' if @category == 'cozinha'}" do %>
      <p>COZINHA</p>
    <% end %>
  </div>
  <div class='col-4'>
    <%= link_to pages_lista_path(lista: 'casa_nova', categoria: 'quarto', :anchor => 'casa-nova'), class: "ct-category #{'ct-selected' if @category == 'quarto'}" do %>
      <p>QUARTO</p>
    <% end %>
  </div>
  <div class='col-4'>
    <%= link_to pages_lista_path(lista: 'casa_nova', categoria: 'casa_de_banho', :anchor => 'casa-nova'), class: "ct-category #{'ct-selected' if @category == 'casa_de_banho'}" do %>
      <p>CASA DE BANHO</p>
    <% end %>
  </div>
  <div class='col-4'>
    <%= link_to pages_lista_path(lista: 'casa_nova', categoria: 'exterior', :anchor => 'casa-nova'), class: "ct-category #{'ct-selected' if @category == 'exterior'}" do %>
      <p>EXTERIOR</p>
    <% end %>
  </div>
</div>

<div class='ct-gifts row'>
  <% @gifts.each do |gift| %>
    <div class='col-sm-12 col-md-6'>
      <%= link_to gift_path(gift.name), class: 'ct-card disabled' do %>
        <%= image_tag("list/#{gift.code_name}.png", class: 'ct-picture') %>
        <div class='ct-info'>
          <p><%= "#{gift.name}  |  #{gift.offered_value.to_i}/#{gift.total_value.to_i} €" %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
