<html>
  <body>
    <div class='ct-list'>
      <div class='ct-intro'>
        <div class='ct-title'>
          <p>LISTA</p>
        </div>
        <div class='ct-extra-info'>
          <p>CASA NOVA | LUA DE MEL</p>
        </div>
        <div class='ct-main-pictures'>
          <%= link_to pages_lista_path(lista: 'casa_nova', :anchor => 'casa-nova') do %>
            <%= image_tag("casa_nova#{'_selected' if @kind == 'casa_nova'}.png", class: 'ct-picture') %>
          <% end %>
          <%= link_to gift_path('Lua de Mel') do %>
            <%= image_tag("lua_de_mel#{'_selected' if @kind == 'lua_de_mel'}.png", class: 'ct-picture') %>
          <% end %>
        </div>
      </div>
      <div class='ct-content'>
        <%= render 'casa_nova' if @kind == 'casa_nova' %>
      </div>
    </div>
  </body>
</html>